<div id="partners_home_18">
	<div class="container">
		<div class="row">
		<h2>
			OUR GLOBAL PARTNERS
		</h2>
		<%= render partial: "home/partnershome/bnp" %>
		<%= render partial: "home/partnershome/paris_aeroports" %>
		<%= render partial: "home/partnershome/airfrance" %>
		<%= render partial: "home/partnershome/yulex" %>
		<%= render partial: "home/partnershome/cabinetsg" %>
		<%= render partial: "home/partnershome/cmsfrancislefebvre" %>
			
		</div>
	</div>

</div>