<div id="signin_18" class="below-nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1>JOIN THE COMMUNITY</h1>
      </div>
      <div class="col-sm-7">
        <div class="sign-in-left">
          <h2>To Grow your Business Internationally is a Challenge </h2>
          <div class="bullets">
            <h3>Get Support</h3>
            <div class="middle-dash">&nbsp;-&nbsp;</div>
            <h3>Find Contacts</h3>
            <div class="middle-dash">&nbsp;-&nbsp;</div>
            <h3>Meet in Real Life</h3>
          </div>

          <%= render partial: "users/shared/world" %>
          <%= render partial: "users/shared/kpis" %>

        </div>
      </div>    
      <div class="col-sm-5">
        <div class="text-center">
          <%= link_to user_omniauth_authorize_path(:linkedin), class: "btn btn-primary btn-block" do %>
            <%=  t("log_in_with") %>
            <%= image_tag "LinkedIn-Logo-2C.png", size: "83x20" %>
          <% end %>
        </div>

        <hr>

        <section id="log_in_with_email">
          <div class="row">
            <div class="col-md-12">
              <%= form_for(resource_name, :url => session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <%= f.text_field :email, class: "form-control",
                      placeholder: :email.to_s.humanize,
                      required: true  %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-lock"></span>
                </span>
                    <%= f.password_field :password, class: "form-control",
                      placeholder: :password.to_s.humanize,
                      required: true %>
                  </div>
                </div>
                <%  if devise_mapping.rememberable?  %>
                  <div class="checkbox"></div>
                    <label>
                      <%=  f.check_box :remember_me %>
                      <%=  f.label :remember_me %>
                    </label>
                <% end %>
                <br>
                <%  if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to "Forgot your password?", new_password_path(:user) %>
                  <br>
                  <br>
                <% end %>
                <%=  f.submit t('log_in'), class: "btn btn-info btn-block"  %>
              <% end %>

              <hr>
            </div>
          </div>
        </section>
      <div class="text-center">
        <%= link_to t("Apply Now"), new_user_registration_path, class: "btn btn-orange18-orange" %>
        <br>
        <p>By applying to Beeleev, I hereby accept its General Terms & Conditions.</p>
        <h5>Grow Global
            <span>WITH US!</span>
        </h5>
      </div>
      </div>               
    </div>
  </div>
</div>
