<div id="team_18" class="below-nav">
  <div class="container">
    <div class="row">

      <!-- <div class="col-xs-12">
        <div class="caption">About us</div>
      </div> -->
      <div class="col-xs-12">
        <h1>To Grow your Business Internationally is a challenge</h1>
      </div>

      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        
        <div class="sub_header">
          We make Success easier for Entrepreneurs by enabling them
          <br>
          to build their Go-to-Market online, within a Peer Community:
        </div>

        <h2><span class='highlight'>International contacts</span> to find your future Business Partners</h2>
        <h2><span class='highlight'>All the Expertise required</span> to understand your challenges</h2>
        <h2><span class='highlight'>Meet-ups & Expeditions</span> to make meaningful Connections</h2>
      </div>

      <div class="col-xs-12">
        <h2 class="last-wrapper">
          <div class="last-over-title">
            Grow Your Business Faster with a Trusted Hand,
          </div>
          <div class="last-title">
            <span class='highlight'>Join the First Global Community of Successful Entrepreneurs!</span>
          </div>
        </h2>
      </div>

      <div class="col-xs-12 text-center">
      <div class="text-center">
        <% if user_signed_in? %>
          <div class="btn btn-orange18-orange">
            COUNTRY SEARCH
          </div>
        <% else %>
          <div class="btn btn-orange18-orange">
            APPLY NOW
          </div>
        <% end %>
      </div>
      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="caption">The Beeleev Team</div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-offset-2 col-sm-4 text-center">
          <%=  render "home/team/hugues_18"  %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%=  render "home/team/hicham_18" %>
        </div>
        
        <div class="col-xs-12 col-sm-4">
          <%=  render "home/team/rasmus_18" %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%=  render "home/team/arnaud_18" %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%=  render "home/team/tom_18" %>
        </div>

        <div class="col-xs-12 col-sm-4">
          <%=  render "home/team/jean_michel" %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%=  render "home/team/juliette" %>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%=  render "home/team/syrah" %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :meta_title, "About Us" %>
<% content_for :meta_description, "Growing your business is a challenge. Find International Contacts, Expert Content & Networking Events to help you become a successful entrepreneur!" %>