<div id="onboarding1">
	 <div class="wrapper">
		<h1>ABOUT YOU</h1>
		<div class="form-wrapper">
			<%= form_for @user, url: onboarding_first_update_path, method: :post do |f|%>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="avatar-wrapper text-center">
							<span>PROFILE <br> PICTURE</span>
							<%= f.file_field :avatar,
																required: true %>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<div class="text-right">
							<div class="form-inputs">
						  	<%= f.text_field :first_name,
						  							class: "form-control",
						  							placeholder: :first_name.to_s.humanize,
						  							required: true,
						  							autofocus: true,
						  							label: false %>
					
							</div>
							<div class="form-inputs">
							  <%= f.text_field :last_name,
													  class: "form-control",
													  placeholder: :last_name.to_s.humanize,
							  						required: true,
							  						label: false %>
							</div>

							<div class="form-inputs">
							  <%= f.select :civility,
							   						%w( Mr. Mrs. Ms. Dr.),
													  {prompt: "Title"},
													  class: "form-control",
							  						required: true,
							  						label: false %>
							</div>

							<div class="form-inputs">
							  <%= f.country_select :country, [],
																	    {prompt: :country.to_s.humanize},
																	    class: "form-control",
																	    placeholder: "Country of residence",
																	    # multiple: true,
																	    required: true %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-right">
			<div class="form-actions">
			  <%= f.submit "NEXT PAGE 1 / 3", class: "btn btn-orange18-orange" %>
		<% end %>
			</div>
		</div>

	</div>
</div>